configuration {
	modes: [window, drun , run, filebrowser, recursivebrowser];
	filebrowser {
		directory: "/home/thang/";
	}
	recursivebrowser {
		directory: "/home/thang/";
		show-hidden: true;
	}
}
@theme "simple-tokyonight"
